nav{
     color: rgb(63, 71, 78);
     background-color: rgb(206, 209, 211);
     height: 6rem;
}
.huro {
    height: 60rem;
}
.horo2{
    margin-top: 1r;
    background-color: #fcc718;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(35, 36, 37);
    
}
.intru{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cire{
    margin: 7rem;
    background-color: #fcc718;
    display: flex;
    flex-direction: row;

}
.blac{
    background-color: black;
    height: 27rem;
    display: flex;
    justify-content: center;
}
.footer{
    background-color: black;
    color: aliceblue;
   padding-top: 17rem;
    height: 50rem;
   
}
.myicons{
  font-size: 60px !important;
  color: #fcc718;
}
.num{
    margin: 7rem;
}